body {
  background-image: url(img/starWarsBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.background {
  background-color: transparent !important;
  border: none !important;
}

.eventCont {
  border-radius: .5em;
  background-color: var(--white);
  padding: 1em;
}

.primEvent {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: .5em;
  background-color: var(--gray);
  height: 30em;
  width: 100%;
}

.primEvent1 {
  background-image: url(img/greatHyperspaceWar.jpg);
  background-size: cover;
  background-position: center;
}

.primEvent2 {
  background-image: url(img/sackingOfCoruscant.jpg);
  background-size: cover;
  background-position: center;
}

.primEvent3 {
  background-image: url(img/thoughtBomb.jpg);
  background-size: cover;
  background-position: center;
}

.primEvent4 {
  background-image: url(img/yuuzhanVongInvasion.jpg);
  background-size: cover;
  background-position: center;
}

.eventDescripCont {
  background: linear-gradient(to right, rgba(255, 255, 255, 0%), 10%, var(--gray), 90%, rgba(255, 255, 255, 0%));
  margin-bottom: 1em;
}

.eventDescrip {
  margin-left: 10%;
  margin-right: 10%;
  color: var(--black);
  font-size: 1.1em;
  text-align: center;
}

.secondEvents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
  margin-top: .5em;
}

.event {
  cursor: pointer;
}

.event:hover .eventImg {
  opacity: 100%;
}

.event:hover .eventLabel {
  background: var(--gray);
  font-weight: bold;
}

.eventImg {
  border-radius: .5em;
  background-size: cover;
  background-position: center;
  opacity: 50%;
  box-sizing: border-box;
  height: 10em;
  border: .01em solid var(--black);
}

.eventImg1 {
  background-image: url(img/greatHyperspaceWar.jpg);
}

.eventImg2 {
  background-image: url(img/sackingOfCoruscant.jpg);
}

.eventImg3 {
  background-image: url(img/thoughtBomb.jpg);
}

.eventImg4 {
  background-image: url(img/yuuzhanVongInvasion.jpg);
}

.eventLabel {
  background: linear-gradient(to right, rgba(255, 255, 255, 0%), 20%, var(--gray), 80%, rgba(255, 255, 255, 0%));
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
  margin-bottom: 0;
  font-size: 1.1em;
  text-align: center;
}

.charCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.char {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.charImg {
  border-radius: .5em;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 15em;
  width: 80%;
  border: .01em solid var(--black);
}

.charImg1 {
  background-image: url(img/haazen.jpg);
}

.charImg2 {
  background-image: url(img/darthTraya.jpg);
}

.charImg3 {
  background-image: url(img/revan.jpg);
}

.charImg4 {
  background-image: url(img/meetraSurik.jpg);
}

.charImg5 {
  background-image: url(img/darthBane.jpg);
}

.charImg6 {
  background-image: url(img/quinlanVos.jpg);
}

.charImg7 {
  background-image: url(img/darthKrayt.jpg);
}

.charImg8 {
  background-image: url(img/grandAdmiralThrawn.jpg);
}

.charImg9 {
  background-image: url(img/lumiya.jpg);
}

.charImg10 {
  background-image: url(img/jacenSolo.jpg);
}

.charImg11 {
  background-image: url(img/morriganCorde.jpg);
}

.charImg12 {
  background-image: url(img/cadeSkywalker.jpg);
}

.charTitle {
  text-align: center;
}

.charSum {
  width: 80%;
  margin-top: 0;
}

.view {
  border-radius: 5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  border: .2em solid var(--blue);
  margin-top: auto;
  color: var(--blue);
  font-weight: bold;
  cursor: pointer;
}

.view:hover {
  background-color: var(--blue);
  color: var(--white);
}

.charHid {
  z-index: 2;
  display: none;
  position: fixed;
  left: 15%;
  right: 15%;
  top: 10%;
  bottom: 10%;
  border-radius: .5em;
  background-color: var(--white);
  padding: 2em;
  padding-right: 4em;
  border: .01em solid var(--black);
}

.charImgHid {
  float: left;
  border-radius: .5em;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 100%;
  width: 45%;
  border: .01em solid var(--black);
  margin-right: 10%;
  margin-top: 0;
}

.charTitleHid {
  font-size: 1.5em;
  text-align: center;
}

.charDescrip {
  border-radius: .5em;
  box-sizing: border-box;
  height: 23.5em;
  padding: .25em;
  border: .01em solid var(--black);
  margin-top: 0;
  font-size: 1.1em;
  text-align: justify;
  overflow-y: scroll;
}

.close {
  position: absolute;
  right: 0%;
  top: 0%;
  border-top-right-radius: .25em;
  border-bottom-left-radius: .25em;
  background-color: var(--white);
  padding-left: .25em;
  padding-right: .25em;
  padding-bottom: .1em;
  border: none;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  background-color: var(--closeRed);
  color: var(--white);
}

.layer {
  z-index: 1;
  display: none;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgba(214, 214, 214, 75%);
}

.btn {
  background: red;
  height: 5em;
  width: 5em;
}

/* JavaScript Classes */

#primEventTrans {
  display: flex;
}

#charTrans {
  visibility: hidden;
}

#charHidTrans {
  display: block;
}

#layerTrans {
  display: block;
}

.testTrans {
  background-color: blue;
}

/* Root Colors */

:root {
  --closeRed: #ff605c;
}
