body {
  background-image: url(img/starWarsBackground.jpg);
  background-attachment: fixed;
  background-position: center bottom;
}

.background {
  background-color: transparent !important;
  border: none !important;
}

.eventCont {
  border-radius: .5em;
  background-color: var(--white);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bigEvent {
  border-radius: .5em;
  background-color: var(--gray);
  height: 25em;
  width: 100%;
}

.smallEvents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
  margin-top: .5em;
}

.event {
  cursor: pointer;
}

.event:hover .eventImg {
  opacity: 100%;
}

.event:hover .eventLabel {
  background: var(--gray);
}

.eventImgCont {
  border-radius: .5em;
  height: 10em;
}

.eventImg {
  object-fit: cover;
  border-radius: .5em;
  opacity: 50%;
  height: 100%;
  width: 100%;
  border: .01em solid black;
}

.eventLabel {
  background: linear-gradient(to right, var(--white), 20%, var(--gray), 80%, var(--white));
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: .25em;
  margin-bottom: 0;
  text-align: center;
}

.charCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.char {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
}

.charImgCont {
  border-radius: .5em;
  height: 15em;
  width: 80%;
  margin-top: 1em;
}

.charImg {
  object-fit: cover;
  border-radius: .5em;
  height: 100%;
  width: 100%;
  border: .01em solid black;
}

.text {
  width: 80%;
  margin-top: 0;
}

.view {
  border-radius: 5em;
  background-color: var(--gray);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  border: .2em solid var(--black);
  margin-top: auto;
  margin-bottom: 1em;
}
