.characters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 1em;
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  border: .1em solid var(--black);
}

.text {
  width: 80%;
  margin-top: 0;
}

.view {
  border-radius: 5em;
  background-color: var(--gray);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  border: .2em solid var(--black);
  margin-top: auto;
  margin-bottom: 1em;
}
